@{
    ViewBag.Title = "Đăng nhập";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/css/login.css">
<div class="anime-grill-center">
</div>
<div class="anime-grill-offcenter"></div>
<div class="text-lines">
    @*<div class="line-1">Welcome to </div>*@
    <div class="line-2">Quản lý nhân sự</div>
    <div class="line-3">LOGIN</div>
</div>
<div class="site-body">
    <form method="post" action="" role="form">
        @Html.AntiForgeryToken()
        <div class="login">
            <div class="form">
                <h1>Welcome</h1>
                <input type="text" placeholder="Tài khoản" id="maNhanVien" name="MaNhanVien" autofocus required>
                <input type="password" placeholder="Mật khẩu" name="MatKhau">
                <a id="forgotPasswordLink" href="#" name="id">Quên mật khẩu?</a>
                <div class="text-danger" style="padding:0px ; margin:0px"> @ViewBag.err</div>
                <input type="submit" value="Sign In" class="submit" style="margin-top:10px;">
            </div>

        </div>

    </form>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
@section FooterPartial{
    @Html.Action("FooterPartial")
}
<script>
    // Get the input and the link
    const maNhanVienInput = document.getElementById('maNhanVien');
    const forgotPasswordLink = document.getElementById('forgotPasswordLink');

    // Add an event listener to update the link's href when the input changes
    maNhanVienInput.addEventListener('input', function() {
        const maNhanVien = maNhanVienInput.value;
        // Update the href dynamically based on the input value
        forgotPasswordLink.href = '@Url.Action("ForgotPassword", "login")' + '?id=' + encodeURIComponent(maNhanVien);
    });
</script>